.Main {
  text-align: center;
  background-color: #eeeeee;
  padding-bottom: 60px;
  min-height: calc(100vh - 60px);
}

.Main-light {
  background-color: #eeeeee;
}
.Main-dark {
  background-color: #343a40;
}